*{
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 700px;
    background-color: #FAF8ED;
}

h1 {
    color: #FAF8ED;
    font-size: 26px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    padding: 10px 0px 0px 10px;
}

label {
    margin: 10px 0px 0px 10px;
    color: #748E63;
    font-family: 'Roboto', sans-serif;
    font-size: large;
}

#inputBox {
    margin: 10px 0px 0px 10px;
    padding: 5px;
    border: #505050 solid 1px;
}

#bt {
    width: 100px;
    height: 30px;
    border-radius: 15px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    background-color: #F9B572;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #748E63;
    height: 60px;
    display: flex;
    justify-content: space-between;
}

ul {
    height: 360px;
}

li {
    font-size: 16px;
    color: #748E63;
    list-style: none;
    margin: 15px;
}

#bts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px;
}


